<%# Ensure we always have a date to show/use %>
<% current_date = @date || (@roster&.starts_on) || Date.current %>
<table class="w-full table-fixed mb-1 bg-white">
  <tbody>
    <tr>
      <% 7.times do |i| %>
        <% date_for_button = @roster.starts_on + i.days %>
        <% is_selected = date_for_button == current_date %>
        <% is_today = date_for_button == Date.current %>

        <td class="p-1 text-center align-middle">
          <%= link_to show_by_date_rosters_path(date: date_for_button, location_id: @selected_location_id),
              class: [
                "flex flex-col items-center justify-center w-14 h-14 rounded-full mx-auto leading-none",
                (is_selected ? "bg-gray-100 text-gray-800 font-bold" : "bg-white text-gray-700"),
                (is_today ? "text-violet-600" : nil)
              ].compact.join(" ") do %>

            <span class="font-bold tracking-wide mt-2" style="font-size: 8px;">
              <%= date_for_button.strftime("%a").upcase %>
            </span>

            <span class="mb-2" style="font-size: 12px;">
              <%= date_for_button.strftime("%d") %>
            </span>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>



<table class="w-full border-separate table-fixed" style="border-spacing: 0;">
  <thead>
    <tr>
      <th class="w-1/2 text-left font-semibold p-2 ml-8 bg-white">EMPLOYEE</th>
      <th class="w-1/2 text-center font-semibold p-2 bg-white"><%= current_date.strftime("%A, %d %B") %></th>
    </tr>
  </thead>
  <tbody>
    <% users = if defined?(@users_for_roster) && @users_for_roster.present?
                 @users_for_roster.reject { |u| u.role == User::ROLES[:client] }
               else
                 User.where.not(role: User::ROLES[:client])
               end %>

    <% users = if users.respond_to?(:order)
                 users.order(Arel.sql('LOWER(name) ASC'))
               else
                 users.sort_by { |u| u.name.to_s.downcase }
               end %>
    <% users.each do |user| %>
      <tr class="align-top">
        <td class="p-2 border-t border-zinc-200 bg-white">
          <div class="font-semibold text-zinc-800 ml-4"><%= user.first_name %><br><%= user.last_name %></div>
          <div id="<%= dom_id(user, 'hours_total') %>">
            <%= render 'rosters/user_hours', roster: @roster, user: user, selected_location_id: @selected_location_id %>
          </div>
        </td>
        <td class="p-1 border-t border-zinc-200 bg-white">
          <%= render 'rosters/cell_content', roster: @roster, user: user, date: current_date, selected_location_id: @selected_location_id %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr class="text-center">
      <td class="p-2 border-t-2 border-zinc-300 text-left text-sm font-semibold text-zinc-800">TOTALS</td>
      <td class="p-2 border-t-2 border-zinc-300">
        <%= render 'rosters/daily_hours', roster: @roster, date: current_date, selected_location_id: @selected_location_id %>
      </td>
    </tr>
  </tfoot>
</table>
