<table class="w-full border-separate table-fixed" style="border-spacing: 4px 4px;">
  <thead>
    <tr>
      <th>EMPLOYEE</th>
      <% 7.times do |i| %>
        <% date = @roster.starts_on + i.days %>
        <th class="text-center font-normal py-1 px-2">
          <p class="text-xs text-zinc-500"><%= date.strftime("%a").upcase %></p>
          <p class="text-lg font-bold <%= date == Date.today ? 'text-violet-600' : 'text-zinc-800' %>">
            <%= date.strftime("%d") %>
          </p>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% users = if defined?(@users_for_roster) && @users_for_roster.present?
                 @users_for_roster
               else
                 User.where.not(role: nil)
               end %>

    <% # Exclude clients from display %>
    <% users = if users.respond_to?(:where)
                 users.where.not(role: User::ROLES[:client])
               else
                 users.reject { |u| u.respond_to?(:client?) ? u.client? : u.role == User::ROLES[:client] }
               end %>
    <% users.each do |user| %>
      <tr class="align-top">
        <td class="px-2 py-1 bg-white rounded-3xl">
          <div class="font-semibold text-zinc-800 mt-1 ml-1 xl:ml-4"><%= user.first_name %><br><%= user.last_name %></div>
          <div id="<%= dom_id(@roster, "user_hours_#{user.id}") %>">
            <%= render 'rosters/user_hours', roster: @roster, user: user, selected_location_id: @selected_location_id %>
          </div>
        </td>
        <% 7.times do |i| %>
          <% date = @roster.starts_on + i.days %>
          <td class="p-0 bg-white rounded-2xl border-2 <%= @roster.published? ? 'border-transparent' : 'border-dashed border-gray-200' %>">
            <%= render 'rosters/cell_content', roster: @roster, user: user, date: date, selected_location_id: @selected_location_id %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr class="text-center">
      <td class="px-2 py-1 border-t-2 border-zinc-300 text-left text-sm font-semibold text-zinc-800">TOTALS</td>
      <% 7.times do |i| %>
        <% date = @roster.starts_on + i.days %>
        <td class="px-2 py-1 border-t-2 border-zinc-300">
          <div id="<%= dom_id(@roster, "daily_hours_#{date}") %>">
            <%= render 'rosters/daily_hours', roster: @roster, date: date, selected_location_id: @selected_location_id %>
          </div>
        </td>
      <% end %>
    </tr>
  </tfoot>
</table>