<div class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2">
  <div>
    <label class="text-gray-700">Employee</label>
    <p class="mt-2 p-2 bg-gray-100 rounded-md"><%= unavailability_request.user.name %></p>
  </div>
  <div>
    <label class="text-gray-700">Period</label>
    <p class="mt-2 p-2 bg-gray-100 rounded-md"><%= unavailability_request.starts_at.strftime("%a, %d %b %Y, %l:%M %p") %> to <%= unavailability_request.ends_at.strftime("%a, %d %b %Y, %l:%M %p") %></p>
  </div>
  <div class="sm:col-span-2">
    <label class="text-gray-700">Reason</label>
    <p class="mt-2 p-2 bg-gray-100 rounded-md"><%= unavailability_request.reason %></p>
  </div>
  <div>
    <label class="text-gray-700">Status</label>
    <p class="mt-2 p-2 bg-gray-100 rounded-md"><%= unavailability_request.status_name %></p>
  </div>
</div>