<div id="<%= dom_id shift %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= shift.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Location:</strong>
    <%= shift.location_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Roster:</strong>
    <%= shift.roster_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= shift.start_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End time:</strong>
    <%= shift.end_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Recurrence:</strong>
    <%= shift.recurrence_id %>
  </div>
</div>
