<turbo-stream action="append" target="roster_day_<%= @shift.user_id %>_<%= @shift.start_time.to_date %>">
  <template>
    <div class="bg-blue-100 rounded px-2 py-1 mb-1">
      <%= @shift.start_time.strftime("%H:%M") %> - <%= @shift.end_time.strftime("%H:%M") %><br>
      <%= @shift.location.name %>
    </div>
  </template>
</turbo-stream>

<turbo-stream action="remove" target="assign_shift_modal" />
