<section class="relative max-w-4xl p-4 sm:p-6 mx-auto bg-white sm:rounded-md sm:shadow-md dark:bg-gray-800 overflow-hidden">
  <%
    status_color_class = case @timesheet.status_name
                         when 'approved'
                           'bg-emerald-100 text-emerald-800'
                         when 'rejected'
                           'bg-red-100 text-red-800'
                         else
                           'bg-yellow-100 text-yellow-800'
                         end
  %>
  <div class="absolute top-0 left-0 right-0 p-1 text-center font-semibold <%= status_color_class %>">
    <%= @timesheet.status_name.titleize %> Timesheet
  </div>

  <%= link_to timesheets_path, class: "absolute top-0 right-0 mt-12 mr-4 text-gray-400 hover:text-gray-600 dark:hover:text-gray-300 z-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  <% end %>

  <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white pt-12"><%= @timesheet.user.name %></h2>

  <div class="flex items-center gap-x-2 mt-2 text-gray-700 dark:text-gray-200">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
    </svg>
    <span class="font-semibold"><%= @timesheet.shift.location.name %></span>
  </div>


  <%= form_with(model: @timesheet, class: "mt-6") do |form| %>
    <% if @timesheet.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mb-6">
        <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>
        <ul class="list-disc ml-6 mt-2">
          <% @timesheet.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">


      <%= form.fields_for :shift, @timesheet.shift do |shift_form| %>
        <div x-data="{ open: false, selectedArea: '<%= @timesheet.shift.area&.name || "Select an Area" %>' }">
          <label class="text-gray-700 dark:text-gray-200">Area</label>
          <div class="relative mt-2">
            <button @click="open = !open" type="button" class="flex items-center justify-between w-full gap-x-2 px-4 py-2 bg-gray-100 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">
              <span x-text="selectedArea"></span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </button>
            <div x-show="open" @click.away="open = false" x-transition class="absolute z-10 mt-2 w-full rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" style="display: none;">
              <div class="py-1">
                <% @timesheet.shift.location.areas.each do |area| %>
                  <a href="#" @click.prevent="selectedArea = '<%= area.name %>'; $refs.areaInput.value = '<%= area.id %>'; open = false" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                    <%= area.name %>
                  </a>
                <% end %>
              </div>
            </div>
            <%= shift_form.hidden_field :area_id, "x-ref": "areaInput" %>
          </div>
        </div>
      <% end %>
    </div>
<h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white pt-6"><%= @timesheet.shift.start_time.strftime("%A %-d %B") %></h2>
    <div class="mt-3 grid grid-cols-2 sm:grid-cols-3 gap-6">
      <div>
        <%= form.label :clock_in_at, "Start", class: "text-gray-700 dark:text-gray-200" %>
        <%= form.time_field :clock_in_at, value: @timesheet.clock_in_at&.strftime('%H:%M'), class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md" %>
      </div>
      <div>
        <%= form.label :clock_out_at, "Finish", class: "text-gray-700 dark:text-gray-200" %>
        <%= form.time_field :clock_out_at, value: @timesheet.clock_out_at&.strftime('%H:%M'), class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md" %>
      </div>
      <div class="col-span-2 sm:col-span-1">
        <div class="sm:hidden mb-2">
          <p class="text-sm font-semibold text-orange-600">Scheduled: <%= format_shift_time(@timesheet.shift.start_time) %> - <%= format_shift_time(@timesheet.shift.end_time) %></p>
        </div>
        <%= form.label :travel, "Travel (km)", class: "text-gray-700 dark:text-gray-200" %>
        <%= form.number_field :travel, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md" %>
      </div>
    </div>

    <div class="mt-2 hidden sm:block">
      <p class="text-sm font-semibold text-orange-600">Scheduled: <%= format_shift_time(@timesheet.shift.start_time) %> - <%= format_shift_time(@timesheet.shift.end_time) %></p>
    </div>

    <div class="mt-6">
      <%= form.label :notes, class: "text-gray-700 dark:text-gray-200" %>
      <%= form.text_area :notes, rows: 4, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md" %>
    </div>



    <div class="flex justify-end items-center mt-6">
      <%= link_to "Match Roster", match_roster_times_timesheet_path(@timesheet), method: :patch, class: "text-violet-800 px-4 py-2.5 hover:bg-violet-100 hover:rounded-3xl" %>
      <%= form.submit "Approve", class: "px-8 py-2.5 leading-5 font-semibold text-white transition-colors duration-300 transform bg-green-600 rounded-3xl hover:bg-green-500 focus:outline-none focus:bg-green-700" %>
    </div>
  <% end %>
</section>