<div class="bg-white p-4 rounded-lg shadow-sm mb-2">
  <div class="flex flex-row justify-between items-center">

    <div x-data="{ open: false }" class="relative">
      <button @click="open = !open" class="h-full flex items-center gap-x-2 px-4 py-3 bg-gray-100 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-violet-500" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
        </svg>
        <span><%= @selected_location_id ?
 Location.find(@selected_location_id).name : "All" %></span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>

      <div x-show="open" @click.away="open = false" x-transition class="absolute z-10 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" style="display: none;">
        <div class="py-1">
           <%= link_to "All Locations", week_timesheets_path(date: @start_date, location_id: nil), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
          <% @locations.each do |location| %>
            <%= link_to location.name, week_timesheets_path(date: @start_date, location_id: location.id), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="flex items-center gap-x-4">
      <div class="h-full flex items-center gap-x-1 p-1 bg-gray-100 rounded-md">
        <%= link_to week_timesheets_path(date: @start_date - 7.days, location_id: @selected_location_id), class: "p-2 rounded hover:bg-gray-200" do %>
           <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        <% end %>

        <div class="hidden sm:block px-3 py-1.5 text-center">
          <p class="text-sm font-medium text-gray-700">
            <%= @start_date.strftime('%-d %b') %> - <%= 
 (@start_date + 6.days).strftime('%-d %b') %>
          </p>
        </div>

        <%= link_to week_timesheets_path(date: @start_date + 7.days, location_id: @selected_location_id), class: "p-2 rounded hover:bg-gray-200" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
         <% end %>
      </div>
      <div class="flex items-center gap-x-2">
        <div x-data="{ open: false }" class="relative">
            <button @click="open = !open" class="h-full flex items-center gap-x-2 px-4 py-3 bg-gray-100 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">
                <span>Export</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </button>

            <div x-show="open" @click.away="open = false" x-transition class="absolute z-10 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" style="display: none;">
              <div class="py-1">
                    <%= link_to "Export Payroll", new_admin_xero_timesheet_export_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Export Invoices</a>
                </div>
            </div>
        </div>
        
      
      <%= link_to new_unscheduled_timesheets_path(date: @start_date),
    class: "p-4 rounded-full bg-gray-100 hover:bg-gray-200
                      sm:px-4 sm:py-2 sm:rounded-3xl flex items-center justify-center gap-2 text-gray-700" do %>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 text-violet-500">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
</svg>

  <span class="hidden sm:inline font-semibold text-gray-700">New Timesheet</span>
<% end %>
      
      
      </div>
    </div>
  </div>
</div>