<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <section class="relative max-w-4xl p-6 mx-auto bg-white rounded-3xl dark:bg-gray-800">
    <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Clock Off</h2>
    <%= form_with(model: @timesheet, url: clock_off_timesheet_path(@timesheet), method: :patch, class: "mt-6") do |form| %>
      <div class="grid grid-cols-1 gap-6">
        <div>
          <%= form.label :notes, "Shift Summary", class: "text-gray-700 dark:text-gray-200" %>
          <%= form.text_area :notes, rows: 4, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-violet-400 focus:ring-violet-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" %>
        </div>
        <div>
          <%= form.label :travel, "Travel (km)", class: "text-gray-700 dark:text-gray-200" %><span class="text-xs text-gray-500 dark:text-gray-400">km from here to there</span>
          <%= form.number_field :travel, value: nil, placeholder: "10", class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-violet-400 focus:ring-violet-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" %>
        </div>
      </div>
      <div class="flex justify-end mt-6">
        <%= form.submit "Clock Off", class: "px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-violet-700 rounded-3xl hover:bg-violet-500 focus:outline-none focus:bg-violet-600" %>
      </div>
    <% end %>
  </section>
</div>