<section id="new_unscheduled_timesheet_form" class="relative max-w-4xl mt-6 p-6 mx-auto bg-white rounded-3xl overflow-hidden sm:px-6 lg:px-8 mx-4 sm:mx-auto">
  

  <div class="mt-4" data-controller="dynamic-select" data-areas="<%= @areas %>">
    <%= form_with(model: @timesheet, url: create_unscheduled_timesheets_path, method: :post, local: true, class: "mt-2") do |form| %>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <div>
        <%= form.label :user_id, "Employee", class: "text-gray-700" %>
          <%= form.collection_select :user_id, @users, :id, :name, {}, { class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md" } %>
        </div>

        <div>
          <%= form.label :location_id, "Client", class: "text-gray-700" %>
          <%= form.collection_select :location_id, @locations, :id, :name, { prompt: "Select a client" }, { class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md", data: { action: "change->dynamic-select#updateTarget", 'dynamic-select-target': 'source' } } %>
        </div>

        <div>
          <%= form.label :area_id, "Area", class: "text-gray-700" %>
          <%= form.select :area_id, [], { prompt: "Select an Area" }, { class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md", data: { 'dynamic-select-target': 'target' } } %>
        </div>

        <div>
          <%= form.label :date, "Date", class: "text-gray-700" %>
          <%= form.date_field :date, value: @start_date, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md" %>
        </div>

        <div>
          <%= form.label :clock_in_at, "Start Time", class: "text-gray-700" %>
          <%= form.time_field :clock_in_at, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md" %>
        </div>

        <div>
          <%= form.label :clock_out_at, "End Time", class: "text-gray-700" %>
          <%= form.time_field :clock_out_at, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md" %>
        </div>
      </div>

      <div class="flex justify-end items-center mt-8 gap-2">
        <%= link_to "Cancel", week_timesheets_path(date: @start_date), class: "text-violet-800 px-4 py-2.5 hover:bg-violet-100 hover:rounded-3xl" %>
        <%= form.submit "Create Timesheet", class: "px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-green-600 rounded-3xl hover:bg-green-500 focus:outline-none focus:bg-green-700" %>
      </div>
    <% end %>
  </div>
</section>
