<%= form_with(model: location) do |form| %>
  <% if location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>
      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
    <div>
      <%= form.label :name, class: "text-gray-700 dark:text-gray-200" %>
      <%= form.text_field :name, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" %>
    </div>

    <div>
      <%= form.label :address, class: "text-gray-700 dark:text-gray-200" %>
      <%= form.text_field :address, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" %>
    </div>

  
  </div>

  <div class="mt-8 border-t pt-6">
    <h3 class="text-lg font-semibold text-gray-700 dark:text-white">Areas</h3>
    <div id="areas" class="mt-4 space-y-6">
      <%= form.fields_for :areas do |area_form| %>
        <%= render 'locations/area_fields', form: area_form %>
      <% end %>
    </div>
    <%# You will need JavaScript to dynamically add new area fields %>
  </div>

  <div class="flex justify-end mt-6">
    <%= form.submit "Save Location", class: "px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-3xl hover:bg-gray-600 focus:outline-none focus:bg-gray-600" %>
  </div>
<% end %>