<div id="<%= dom_id location %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= location.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= location.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= location.latitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= location.longitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Allowed radius:</strong>
    <%= location.allowed_radius %>
  </div>
</div>
